<!DOCTYPE html>
<html>
    <head>
        <title>
            Admin
        </title>

    <style>
         a{
            display: block;
            text-decoration: none;
        }
        #spaceid{
            height:99px;
            background-color: white;
            color: aliceblue;
        }
        #secspace{
          height:95px;
          background-color: black;
            color: aliceblue;
            
        }
        #foot{
            background-color: black;
            color: white;
           
        }
        #firstdiv{
          border-style: inset;
          background-color:cadetblue;
        }
        #secdiv{
          border-style: inset;
          background-color:cadetblue;
        }
        .clr{
            background-color:lightblue;
        }
        .bcl{
          color:white;
          font-size: 30px;
        }
    </style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
    </head>
<body>
<div id="spaceid">
<div id="secspace">
 <h2 class="bcl">Admin Section</h2>
          
</div>


</div>


<div class="container-fluid clr">
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10">
                <div id="firstdiv">
                    <h3 style="color:blue;">Add News Section</h3>
                    <br>
                <h5><b>News 1</b></h5>
                Heading:<input type="text" name="h1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Info.<textarea rows="4" cols="50" name="in1"></textarea><br><br>

                <h5><b>News 2</b></h5>
                Heading:<input type="text" name="h2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Info.<textarea rows="4" cols="50" name="in2"></textarea><br><br>

                <h5><b>News 3</b></h5>
                Heading:<input type="text" name="h3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Info.<textarea rows="4" cols="50" name="in3"></textarea><br><br>

                <h5><b>News 4</b></h5>
                Heading:<input type="text" name="h4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Info.<textarea rows="4" cols="50" name="in4"></textarea><br><br>

                <h5><b>News 5</b></h5>
                Heading:<input type="text" name="h5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Info.<textarea rows="4" cols="50" name="in5"></textarea><br><br>

                <h5><b>News 6</b></h5>
                Heading:<input type="text" name="h6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Info.<textarea rows="4" cols="50" name="in6"></textarea><br><br><br>


                <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="col-sm-1">

            </div>
            </div>
            </div>
<br>
<br>
            
            <div class="container-fluid clr">
                    <div class="row">
                        <div class="col-sm-1"></div>
            
                        
                        <div class="col-sm-10">
                          <div id="secdiv">
                            <h3 style="color:blue;">Add Image</h3>
                            <br>
                            <h5>image 1</h5>
                            <input type="file" name="img1">
                            heading <input type="text" name="ih1"><br>
                            Info.<textarea rows="2" cols="50" name="info1"></textarea><br><br>
            
                            <h5>image 2</h5>
                            <input type="file" name="img2">
                            heading <input type="text" name="ih2"><br>
                            Info.<textarea rows="4" cols="50" name="info2"></textarea><br><br>
            
                            <h5>image 3</h5>
                            <input type="file" name="img3">
                            heading <input type="text" name="ih3"><br>
                            Info.<textarea rows="4" cols="50" name="info3"></textarea><br><br>

                            <h5>image 4</h5>
                            <input type="file" name="img4">
                            heading <input type="text" name="ih4"><br>
                            Info.<textarea rows="4" cols="50" name="info4"></textarea><br><br>

                            <button type="button" class="btn btn-primary">Save</button>

                            </div>
                        </div>
                        <div class="col-sm-1">
            
                        </div>
                        </div>
                        </div>
                        <br><br><br>
<div id="foot">

    <!-- Footer -->
        <footer class="page-footer font-small indigo ">

          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>

              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none pb-3">

              <!-- Grid column -->
              <!--<div class="col-md-3 mb-md-0 mb-3">

                
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Link 1</a>
                  </li>
                  <li>
                    <a href="#!">Link 2</a>
                  </li>
                  <li>
                    <a href="#!">Link 3</a>
                  </li>
                  <li>
                    <a href="#!">Link 4</a>
                  </li>
                </ul>

              </div>-->
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Facebook</a>
                  </li>
                  <li>
                    <a href="#!">Instagram</a>
                  </li>
                  <li>
                    <a href="#!">Twitter</a>
                  </li>
                  <li>
                    <a href="#!">Linkdin</a>
                  </li>
                </ul>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2019
            <a href="https://mdbootstrap.com/education/bootstrap/"> cricpredict.com</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->

      
</div>
</body>
</html>