
<!DOCTYPE html>
<html>
    <head>
        <title>
            Scorecard
        </title>
        <style>
        a{
            display: block;
            text-decoration: none;
        }
        </style>
    </head>
<body>
    
   <a href="match_info/{{id}}/{{src}}"
    <div>
    <b>{{src}}</b>,{{mnum}}<br>
    {{toss}}<br>
    {{status}}<br>

   </div>
</a>
<a href="match_info/{{id}}/{{src}}">Match Info</a> &nbsp;|&nbsp;<a href="live_scores/{{id}}">Live Score</a>
<br>

<a href="live_scores/{{id1}}">Live Score
<br>

    <div>

{{id1}}<br>
{{src1}}<br>
{{mnum1}}<br>

{{toss1}}<br>
{{status1}}<br>
    </div>
</a>
<br>

<br>

<a href="#"
    <div>
{{id2}}<br>
{{src2}}<br>
{{mnum2}}<br>

{{toss2}}<br>
{{status2}}<br>
</div>
</a>
<br>



<br>

<a href="#"
    <div>
{{id3}}
{{src3}}<br>
{{mnum3}}<br>

{{toss3}}<br>
{{status3}}<br>
    </div>
</a>
<br>




<br>
<a href="#"
    <div>

{{id4}}
{{src4}}<br>
{{mnum4}}<br>

{{toss4}}<br>
{{status4}}<br>
<br>
    </div>
    </a>



<br>

<a href="#"
    <div>
{{id5}}
{{src5}}<br>
{{mnum5}}<br>

{{toss5}}<br>
{{status5}}<br>
    </div
    ></a>
<br>



</body>
</html>