<div class="col-md-10" id="seconddiv">
        
    {% if overin1 %}
    {%else%}

  <h1>Wait until match is not getting start</h1>
   {% endif %}
   {% if overin1 %}
   {{lscore.batting.team}} VS {{lscore.bowling.team}} Live Cricket Score, Commentary<br>
    <br>
    
   <strong><h2>{{lscore.bowling.team}}</strong>{% if overin3 %} {{lscore.bowling.score.0.runs}}/{{lscore.bowling.score.0.wickets}}
   ({{lscore.bowling.score.0.overs}})
    {% endif %}
   {% if overin4 %}

   ,{{lscore.bowling.score.1.runs}}/{{lscore.bowling.score.1.wickets}}
   ({{lscore.bowling.score.1.overs}})</h2>

   {% endif %}
   <br>
    <h2>
        
    
   <strong>{{lscore.batting.team}}</strong> {{lscore.batting.score.0.runs}}/{{lscore.batting.score.0.wickets}}
   ({{lscore.batting.score.0.overs}})

   
   {% if overin2 %}

   ,{{lscore.batting.score.1.runs}}/{{lscore.batting.score.1.wickets}}
   ({{lscore.batting.score.1.overs}})
    </h2>

   {% endif %}
  
   <br>
   



   <div class="table-area">
    <table class="table table-striped">
  <thead>
    <tr>
      
      <th><h5><b>Batsman</b></h1></th>
        <th><h5><b>Run</b></h1></th>
          <th><h5><b>Ball</b></h1></th>
            <th><h5><b>4s</b></h1></th>
              <th><h5><b>6s</b></h1></th>
      
      
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <h5>
      <td><h5>{{lscore.batting.batsman.0.name}}</h5></td>
      <td><h5>{{lscore.batting.batsman.0.runs}}</h5></td>
      <td><h5>{{lscore.batting.batsman.0.balls}}</h5></td>
      <td><h5>{{lscore.batting.batsman.0.fours}}</h5></td>
      <td><h5>{{lscore.batting.batsman.0.six}}</h5></td>
      </tr>
      <tr>
      <td><h5>{{lscore.batting.batsman.1.name}}</h5></td>
      <td><h5>{{lscore.batting.batsman.1.runs}}</h5></td>
      <td><h5>{{lscore.batting.batsman.1.balls}}</h5></td>
      <td><h5>{{lscore.batting.batsman.1.fours}}</h5></td>
      <td><h5>{{lscore.batting.batsman.1.six}}</h5></td>
      <td></td>

      <td></td>
    </tr>
    <tr></tr></h5>
    <tr>
      
      <td><h5><b>Bowler</b></h5></td>
      <td><h5><b>O</b></h5></td>
      <td><h5><b>M</b></h5></td>
      <td><h5><b>R</b></h5></td>
      <td><h5><b>W</b></h5></td>
      
    </tr>
    <tr>
      
      <td><h5>{{lscore.bowling.bowler.0.name}}</h5></td>
      <td><h5>{{lscore.bowling.bowler.0.overs}}</h5></td>
      <td><h5>{{lscore.bowling.bowler.0.maidens}}</h5></td>
      
      <td><h5>{{lscore.bowling.bowler.0.runs}}</h5></td>
      <td><h5>{{lscore.bowling.bowler.0.wickets}}</h5></td>
    
      </tr>
      

   
  </tbody>
</table>

<a href="/alldetail/{{id}}"><b>Scorecard</b></a>
  </div>
  {% endif %}
  
<br>
<br>



{% if pl1 %}
<b>Best 11 for today match</b>
<br>
  {% for i in pl1 %}
  {{i}},
  {% endfor %}
<br>

{% for i in pl2 %}
  {{i}},
  {% endfor %}

{% else %}
<b>Wait for 11 </hb>
{% endif %}
<br><br>

<!--{% for i in num|make_list %}
{{i}}
<br>
{% endfor %}-->
{% for com in commntry.commentary %}
{% autoescape off %}
{% if com.over %} 

<strong>{{com.over}}</strong>&nbsp;&nbsp;{{com.comm}}
{% else %}

<h5>{{com.comm}}</h5>
 
{% endif %}
{% endautoescape %}
<br><br>

{% endfor %}
    </div>
   <!-- {% autoescape off %}
    {{ commntry }}
{% endautoescape %}-->


