<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
         a{
            display: block;
            text-decoration: none;
        }
        
        </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        
    </head>
<body>

        <div class="main-sec">
                <!-- //header -->
                <header class="py-sm-3 pt-3 pb-2" id="home">
                    <div class="container">
                        <!-- nav -->
                        <div class="top-w3pvt d-flex">
                            <div id="logo">
                                <h1> <a href="index.html"><span class="log-w3pvt">B</span>aggage</a> <label class="sub-des">Online Store</label></h1>
                            </div>
        
                            <div class="forms ml-auto">
                                <a href="login.html" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
                                <a href="register.html" class="btn"><span class="fa fa-pencil-square-o"></span> Sign Up</a>
                            </div>
                        </div>
                        <div class="nav-top-wthree">
                            <nav>
                                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                                <input type="checkbox" id="drop" />
                                <ul class="menu">
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li>
                                        <!-- First Tier Drop Down -->
                                        <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                                        </label>
                                        <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                        <input type="checkbox" id="drop-2" />
                                        <ul>
                                            <li><a href="coming.html" class="drop-text">Services</a></li>
                                            <li><a href="about.html" class="drop-text">Features</a></li>
                                            <li><a href="single.html" class="drop-text">Single Page</a></li>
        
                                        </ul>
                                    </li>
        
                                    <li><a href="shop.html">Collections</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- //nav -->
                            <div class="search-form ml-auto">
                                <div class="form-w3layouts-grid">
                                    <form action="#" method="post" class="newsletter">
                                        <input class="search" type="search" placeholder="Search here..." required="">
                                        <button class="form-control btn" value=""><span class="fa fa-search"></span></button>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </header>

</body>

<footer>

</footer>
</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
















<div class="rca-mini-widget rca-top-border rca-tab-simple">
        <ul class="rca-tab-list">
          <li class="rca-tab-link active" data-tab="ltab-1" onclick="showTab(this);">Live</li>
          <li class="rca-tab-link" data-tab="ltab-2" onclick="showTab(this);">Results</li>
          <li class="rca-tab-link" data-tab="ltab-3" onclick="showTab(this);">Starts In</li>
        </ul>
        <div id="ltab-1" class="rca-padding rca-tab-content rca-multi-season active">    
          <ul class="rca-tab-list">
            <li class="rca-tab-link active" data-tab="iltab-1" onclick="showTab(this);">
              <span class="rca-live-label">IND vs NZL</span>
            </li>
            <li class="rca-tab-link" data-tab="iltab-2" onclick="showTab(this);">
              <span class="rca-live-label">BAK vs NZL</span>
            </li>
            <li class="rca-tab-link" data-tab="iltab-3" onclick="showTab(this);">
              <span class="rca-live-label">BAK vs NZL</span>
            </li>
          </ul> 
          <div id="iltab-1" class="rca-tab-content active">         
            <div class="rca-padding">
              <h3 class="rca-match-title">
                <a href="/widgets.html">
                  IND: 173/2 in 18.5
                </a>
              </h3>
              <p class="rca-match-info">
                <span>IND: 16/1 in 1.0</span>
                <span>CRR:4.1</span>
                <span>Req RR:10.1</span>
              </p>
              <div class="rca-top-padding">
                <div class="rca-batsman striker">
                  <span class="player">V Kohli</span>
                  <span>48(27)</span>
                </div>
                <div class="rca-batsman">
                  <span class="player">MS Dhoni</span>
                  <span>14(8)</span>
                </div>
              </div>
              <div class="rca-ball-detail">
                <div class="rca-match-schedule">
                  Over: 24
                </div>
                <ul class="rca-ball-by">
                  <li class="b6">6</li>
                  <li class="">1wd</li>
                  <li class="w">w</li>
                  <li class="">1</li>
                  <li class="">2</li>
                  <li class="b6">4</li>
                </ul>
              </div>
            </div>
            <div class="rca-top-padding rca-score-status">
              <div class="rca-status-scroll">
                FOUR!!! from Dhoni
              </div>
              <ul class="rca-bullet-list">
                <li class="active" data-tab="#status1"></li>
                <li data-tab="#status2"></li>
                <li data-tab="#status3"></li>
              </ul>
            </div>
          </div>
          <div id="iltab-2" class="rca-tab-content">         
            <div class="rca-padding">
              <h3 class="rca-match-title">
                <a href="/widgets.html">
                  BAK: 93/8 in 19.2
                </a>
              </h3>
              <p class="rca-match-info">
                <span>BAK: 16/1 in 1.0</span>
                <span>CRR:4.1</span>
                <span>Req RR:10.1</span>
              </p>
              <div class="rca-top-padding">
                <div class="rca-batsman striker">
                  <span class="player">V Kohli</span>
                  <span>48(27)</span>
                </div>
                <div class="rca-batsman">
                  <span class="player">MS Dhoni</span>
                  <span>14(8)</span>
                </div>
              </div>
              <div class="rca-ball-detail">
                <div class="rca-match-schedule">
                  Over: 24
                </div>
                <ul class="rca-ball-by">
                  <li class="b6">6</li>
                  <li class="">1wd</li>
                  <li class="w">w</li>
                  <li class="">1</li>
                  <li class="">2</li>
                  <li class="b6">4</li>
                </ul>
              </div>
            </div>
            <div class="rca-top-padding rca-score-status">
              <div class="rca-status-scroll">
                FOUR!!! from Dhoni
              </div>
              <ul class="rca-bullet-list">
                <li class="active" data-tab="#status1"></li>
                <li data-tab="#status2"></li>
                <li data-tab="#status3"></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="ltab-2" class="rca-padding rca-tab-content">
          <div class="rca-match-detail rca-padding">
            <h3 class="rca-match-title">
              <a href="/widgets.html">BAN vs ZIM</a>
              <span class="rca-match-info rca-right">
                2nd T20 Match
              </span>
            </h3>
            <p class="rca-duration">Bangaladesh Won by 20 runs</p>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
          <div class="rca-match-detail rca-padding">
            <h3 class="rca-match-title">
              <a href="/widgets.html">BAN vs ZIM</a>
              <span class="rca-match-info rca-right">
                2nd T20 Match
              </span>
            </h3>
            <p class="rca-duration">Bangaladesh Won by 20 runs</p>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
        </div>
        <div id="ltab-3" class="rca-padding rca-tab-content">
          <div class="rca-match-detail rca-padding">
            <h3 class="rca-match-title">
              <a href="/widgets.html">BAN vs ZIM</a>
              <span class="rca-match-info rca-right">
                2nd T20 Match
              </span>
            </h3>
            <p class="rca-duration">Start in 21hrs</p>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
          <div class="rca-match-detail rca-padding">
            <h3 class="rca-match-title">
              <a href="/widgets.html">BAN vs ZIM</a>
              <span class="rca-match-info rca-right">
                2nd T20 Match
              </span>
            </h3>
            <p class="rca-duration">Start in 21hrs</p>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
        </div>
      </div>